.header {
    div {
        font-size: 40px;
        min-width: 33%;
        h3 {
            color: white;
            text-shadow:
            3px 3px 0 #332412,
            -1px -1px 0 #332412,  
            1px -1px 0 #332412,
            -1px 1px 0 #332412,
            1px 1px 0 #332412;
            margin: 1em;
        }
    }
}