.header {
    background-color: #ededed;
    div {
        font-size: 35px;
        min-width: 5rem;
        h3 {
            color:white;
            text-shadow:
            3px 3px 0 #332412,
            -1px -1px 0 #332412,  
            1px -1px 0 #332412,
            -1px 1px 0 #332412,
            1px 1px 0 #332412;
            margin: 3vh;
        }
    }
}